---
import { Image } from "astro:assets";

interface Props {
    title: string;
    image: any;
    description: string;
}

const { title, image, description } = Astro.props;
---

<div class="card w-72 m-1 bg-base-100 shadow-xl">
    <div class="card-body">
        <h2 class="card-title">{title}</h2>
        <p>{description}</p>
    </div>
    <figure>
        <Image src={image} alt={title} class="rounded-b-lg aspect-[4/3]" />
    </figure>
</div>

