<div class="w-full border-t">
    <div class="flex justify-center">
        <div class="m-4">
            お店の名前　イタリアン　CIT　（シーアイティ）<br>
            住所　〒999-999　奈良氏之市都田沼１２３<br>
            電話　０００－１２３４－５６７８
        </div>
    </div>
</div>
