---
import {Image} from "astro:assets";

import logo from "../images/logo.png";
---

<header class="border-b border-inherit h-10">
    <div class="flex text-xl justify-between items-center h-full">
        <div class="flex">
            <div>
                <Image src={logo} alt="logo" class="h-8"/>
            </div>
        </div>
        <div class="flex">
            <div class="mx-4">
                <a href="http://">Home</a>
            </div>
            <div class="mx-4">
                <a href="http://">Menu</a>
            </div>
            <div class="mx-4">
                <a href="http://">About</a>
            </div>
        </div>
        <div class="flex">
        </div>
    </div>
</header>
